In [9]:
import matplotlib.pyplot as plt
import pandas
import seaborn
import wordcloud
import folium

print("Let 's go already !")

RESULTS = {}
RESULTS ["task00"] = "ok"

Let 's go already !

In [ ]:
stock = pandas.read_csv("stock.csv")
michelin = pandas.read_csv("michelin.csv")
penguins = pandas.read_csv("penguins.csv")

print(stock.head(4))
print(michelin.tail(2))

#RESULTS:dict = {}
RESULTS["task01"] = {
    "stock_head_shape" : list ( stock . head (4) . shape ) ,
    "michelin_tail_shape" : list ( michelin . tail (2) . shape ) ,
}

         date    open    high     low   close    volume
0  1566576000  137.19  138.35  132.80  133.39  38515386
1  1566835200  134.99  135.56  133.90  135.45  20325271
2  1566921600  136.39  136.72  134.66  135.74  23115635
3  1567008000  134.88  135.76  133.55  135.56  17410828
          name  year   latitude  longitude                       city  \
1242  Samphire  2019  49.184880  -2.105700  Saint Helier/Saint-Hélier
1243   Bohemia  2019  49.181225  -2.102417  Saint Helier/Saint-Hélier

              region  zipCode         cuisine price  stars
1242  United Kingdom  JE2 4TQ  Modern cuisine   NaN      1
1243  United Kingdom  JE2 4UH  Modern cuisine   NaN      1

In [ ]:
RESULTS["task02"] = {
    "rows":int (penguins.shape[0]),
    "columns_count":int (penguins.shape[1]),
    "count_per_column":list (penguins.count()),
    "dtypes":list (penguins.dtypes)
}

<bound method DataFrame.info of     species     island  culmen_length_mm  culmen_depth_mm  flipper_length_mm  \
0    Adelie  Torgersen              39.1             18.7              181.0
1    Adelie  Torgersen              39.5             17.4              186.0
2    Adelie  Torgersen              40.3             18.0              195.0
3    Adelie  Torgersen               NaN              NaN                NaN
4    Adelie  Torgersen              36.7             19.3              193.0
..      ...        ...               ...              ...                ...
341  Gentoo     Biscoe              50.4             15.7              222.0
342  Gentoo     Biscoe              45.2             14.8              212.0
343  Gentoo     Biscoe              49.9             16.1              213.0
344     NaN        NaN               NaN              NaN                NaN
345  Gentoo     Biscoe            4990.0           1610.0            21300.0

     body_mass_g     sex
0         3750.0    MALE
1         3800.0  FEMALE
2         3250.0  FEMALE
3            NaN     NaN
4         3450.0  FEMALE
..           ...     ...
341       5750.0    MALE
342       5200.0  FEMALE
343       5400.0    MALE
344          NaN     NaN
345    5400000.0    MALE

[346 rows x 7 columns]>

In [ ]:
RESULTS["task03"] = {
    "stock_head_shape":list (penguins.shape),
    "michelin_tail_shape":list ([penguins.shape[0] - 2], penguins.shape[1])
}

In [ ]:
print(penguins[penguins.species == "Adelie" and penguins.body_mass_g > 3000])

RESULTS["task04"] = {
    "rows":int (penguins[penguins.species == "Adelie" and penguins.body_mass_g > 3000].shape[0])
}

    species     island  culmen_length_mm  culmen_depth_mm  flipper_length_mm  \
0    Adelie  Torgersen              39.1             18.7              181.0
1    Adelie  Torgersen              39.5             17.4              186.0
2    Adelie  Torgersen              40.3             18.0              195.0
3    Adelie  Torgersen               NaN              NaN                NaN
4    Adelie  Torgersen              36.7             19.3              193.0
..      ...        ...               ...              ...                ...
341  Gentoo     Biscoe              50.4             15.7              222.0
342  Gentoo     Biscoe              45.2             14.8              212.0
343  Gentoo     Biscoe              49.9             16.1              213.0
344     NaN        NaN               NaN              NaN                NaN
345  Gentoo     Biscoe            4990.0           1610.0            21300.0

     body_mass_g     sex
0         3750.0    MALE
1         3800.0  FEMALE
2         3250.0  FEMALE
3            NaN     NaN
4         3450.0  FEMALE
..           ...     ...
341       5750.0    MALE
342       5200.0  FEMALE
343       5400.0    MALE
344          NaN     NaN
345    5400000.0    MALE

[346 rows x 7 columns]